body, html {
  font-size: 12px;
}

html {
  font-family: 'Comic Sans MS', sans-serif;
}

.lorem-ipsum {
  color: blue;
  font-size: 2rem;
  text-align: center;
}

.chinese-output-test {
  color: green;
  font-size: 1.75rem;
}

.numbers {
  color: red;
  font-size: 3rem;
}

nav {
  list-style: none;
}
nav ul li {
  display: inline-block;
}
nav ul li > a {
  color: orange;
  font-size: 1.5rem;
}